[submodule "tests/toml11"]
	path = tpl/toml11
  	url = https://github.com/ToruNiina/toml11.git
[submodule "tpl/spdlog"]
	path = tpl/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "tpl/pybind11"]
	path = tpl/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "tpl/spack"]
	path = tpl/spack
	url = https://github.com/spack/spack.git 
