build/*
install/*
*~
*.swp
.ubuild.json
*__pycache__*
*nvblas.conf
spack-*
.vscode/
coinhsl-*
*DS_Store*
/docs/tech-fest-pres/*.html
/docs/tech-fest-pres/*.pdf
/docs/tech-fest-pres/*~*
/docs/tech-fest-pres/main_files
/docs/tech-fest-pres/main.pptx

