
# CI constraints for every branch
workflow:
  rules:
      # Only run if source is an open merge request or a branch push
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - if: '$CI_COMMIT_BRANCH'

.ornl_script_template: &ornl_script_definition
  script:
    - |
      # Do _not_ clean up WORKDIR as files are needed for testing
      set -xv
      mkdir -p "$WORKDIR"
      cp -R ./* "$WORKDIR"
      cd "$WORKDIR"
      export srcdir=$WORKDIR builddir=$WORKDIR/build installdir=$WORKDIR/install
      MY_CLUSTER=ascent ./buildsystem/build.sh --build-only --job=gcc-cuda || exit 1

.ornl_test_script_template: &ornl_test_script_definition
  script:
    - |
      set -xv
      cd "$WORKDIR"
      export srcdir=$WORKDIR builddir=$WORKDIR/build installdir=$WORKDIR/install
      export CTESTARGS="--output-on-failure -E Python"
      MY_CLUSTER="ascent" ./buildsystem/build.sh --test-only --job=gcc-cuda
      res=$?
      exit $res
  after_script:
    - |
      cd "$WORKDIR/.."
      rm -rf "$WORKDIR"

.ornl_environment_template: &ornl_environment_variables
  variables:
    SCHEDULER_PARAMETERS: "-P CSC359 -nnodes 1 -W 30"
    WORKDIR: /gpfs/wolf/proj-shared/csc359/ci/${CI_PIPELINE_ID}

.pnnl_after_script_template: &pnnl_after_script_definition
  after_script:
    - |
      export WORKDIR="$HOME/gitlab/${CI_PIPELINE_ID}/${MY_CLUSTER}/"
      # Iterate over possible jobid named files (jobid_%J)
      job_ids="$WORKDIR/jobid_*"
      for job in $job_ids
      do
        if [[ -f "$job" ]]; then
          jobid=$(cat "$job")
          scancel $jobid
        fi
      done
      rm -rf $WORKDIR

.pnnl_script_template: &pnnl_script_definition
  script:
    - |
      set -xv
      #
      #  NOTES:  WORKDIR is on constance/marianas/newell
      #          ./      is only on the Kubernetes instance
      #
      export WORKDIR="$HOME/gitlab/${CI_PIPELINE_ID}/${WORKDIR_SUFFIX}/"
      if [[ ! -d "$WORKDIR" ]]; then
        # if workdir already exists, we're in the testing job
        mkdir -p "$WORKDIR"
        cp -R ./* "$WORKDIR"
        cp ./.cmake-format.py "$WORKDIR"
      fi

      if [[ $MY_CLUSTER = "marianas" ]]; then
        export SLURM_Q=`perl ./buildsystem/pnnl/findIdleDLNodes.pl`
      else
        export SLURM_Q=`perl ./buildsystem/pnnl/findIdleNewellNodes.pl`
      fi

      cd "$WORKDIR"
      # Unique output file for this stage
      output="output${OUTPUT_SUFFIX}"
      [ -f $output ] && rm $output
      touch $output
      tail -f $output &
      tailpid=$!

      # Set some directories used in the build script manually, as they
      # can be inconsistent in gitlab pipelines
      export srcdir=$WORKDIR builddir=$WORKDIR/build installdir=$WORKDIR/install

      # Export CTESTARGS defined in variables to run correct tests for stage
      export CTESTARGS=$CTESTARGS

      # jobid used in pnnl_after_script_template to cancel job if cancelled or
      # timed out by gitlab through the UI
      jobid=$(sbatch --export=ALL -A EXASGD --gres=gpu:1 --ntasks=3 -p $SLURM_Q -o $output -e $output -t 1:00:00 $WORKDIR/buildsystem/build.sh $SCRIPT_ARGS)
      export jobid=$(echo $jobid | cut -f4 -d' ')
      # Unique jobid filename for this job
      echo $jobid > "$WORKDIR/jobid_${jobid}"
      res=1
      while :;
      do
        if [[ "$(awk 'BEGIN{i=0}/BUILD_STATUS/{i++}END{print i}' $output)" != "0" ]]; then
          kill $tailpid
          echo 'Last tail of build output:'
          tail -n 200 $output
          res=$(grep BUILD_STATUS $output | tail -n 1 | cut -f2 -d':')
          break
        fi
        sleep 10
      done
      echo "Finished batch job with exit code: $res"
      rm "$WORKDIR/jobid_${jobid}"
      exit $res

.pnnl_tags_template: &pnnl_tags_definition
  tags:
    - k8s
    - ikp
    - exasgd
    - marianas

.pnnl-rules: &pnnl-rules
  rules:
    - &pnnl-rule
      if: '$CI_PROJECT_ROOT_NAMESPACE == "exasgd"' # Will only apply to PNNL

.pnnl-nonhpc-tags: &pnnl-nonhpc-definition
  tags:
    - k8s
    - ikp
    - exasgd
    - basic

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - build
  - test

# Include PNNL GitLab stdlib
include:
  - remote: 'https://raw.githubusercontent.com/pnnl-miscscripts/gitlab-lib/v1/gitlab-lib.yaml'

# For Ascent CI
.ornl-rules: &ornl-rules
  rules:
    - if: '$CI_PROJECT_PATH == "ecpcitest/exasgd/exago"'

Ascent Build:
  stage: build
  tags:
    - nobatch
  <<: *ornl-rules
  <<: *ornl_script_definition
  <<: *ornl_environment_variables

Ascent Test:
  stage: test
  dependencies:
    - 'Ascent Build'
  tags:
    - batch
  <<: *ornl-rules
  <<: *ornl_test_script_definition
  <<: *ornl_environment_variables

# ---

# For PNNL CI
.pnnl-nonhpc-tags: &pnnl-nonhpc-definition
  tags:
    - k8s
    - ikp
    - exasgd
    - basic

CMake Lint:
  stage: build
  allow_failure: true
  <<: *pnnl-nonhpc-definition
  <<: *pnnl-rules
  image: ubuntu:20.04
  script:
    |
    set -x
    apt update && apt install -y python3 python3-pip perl
    pip install cmake_format
    ./buildsystem/tools/cmake_format.pl -v
    exit $?

C++ Lint:
  stage: build
  allow_failure: true
  <<: *pnnl-nonhpc-definition
  <<: *pnnl-rules
  image: ubuntu:20.04
  script:
    |
    set -x
    apt update && apt install -y clang-format perl
    ./buildsystem/tools/clang_format.pl -v
    exit $?

Python Lint:
  stage: build
  allow_failure: true
  <<: *pnnl-nonhpc-definition
  <<: *pnnl-rules
  image: ubuntu:20.04
  script:
    |
    set -x
    apt update && apt install -y python3 python3-pip perl
    pip install pycodestyle autopep8
    ./buildsystem/tools/python_format.pl -v
    exit $?

File Naming Conventions:
  stage: build
  allow_failure: true
  <<: *pnnl-nonhpc-definition
  <<: *pnnl-rules
  image: ubuntu:20.04
  script:
    |
    set -x
    apt update && apt install -y perl
    ./buildsystem/tools/file_naming_conventions.pl
    exit $?

SVC Account Cleanup:
  stage: .pre
  <<: *pnnl-rules
  <<: *pnnl_tags_definition
  rules:
    - if: '$CI_COMMIT_MESSAGE =~ /\[cleanup\]/'

  script:
    - cd /people/svcexasgd/ && rm -rf gitlab/*

Newell Build:
  stage: build
  variables:
    SLURM_Q: "newell_shared"
    MY_CLUSTER: "newell"
    OUTPUT_SUFFIX: "_build"
    SCRIPT_ARGS: " --build-only --job=gcc-cuda "
    WORKDIR_SUFFIX: "ppc64le-gcc-cuda-build"
  <<: *pnnl_tags_definition
  <<: *pnnl_script_definition
  <<: *pnnl-rules

Newell Test:
  stage: test
  dependencies:
    - 'Newell Build'
  variables:
    SLURM_Q: "newell_shared"
    MY_CLUSTER: "newell"
    CTESTARGS: "--output-on-failure -E Python"
    OUTPUT_SUFFIX: "_test"
    SCRIPT_ARGS: " --test-only --job=gcc-cuda "
    WORKDIR_SUFFIX: "ppc64le-gcc-cuda-build"
  <<: *pnnl_tags_definition
  <<: *pnnl_script_definition
  <<: *pnnl_after_script_definition
  <<: *pnnl-rules

Marianas Build:
  stage: build
  variables:
    SLURM_Q: "dl_shared"
    MY_CLUSTER: "marianas"
    OUTPUT_SUFFIX: "_build"
    SCRIPT_ARGS: " --build-only --job=gcc-cuda "
    WORKDIR_SUFFIX: "x86_64-gcc-cuda-build"
  <<: *pnnl_tags_definition
  <<: *pnnl_script_definition
  <<: *pnnl-rules

Marianas Test:
  stage: test
  dependencies:
    - 'Marianas Build'
  variables:
    SLURM_Q: "dl_shared"
    MY_CLUSTER: "marianas"
    CTESTARGS: "--output-on-failure -E Python"
    OUTPUT_SUFFIX: "_test"
    SCRIPT_ARGS: " --test-only --job=gcc-cuda "
    WORKDIR_SUFFIX: "x86_64-gcc-cuda-build"
  <<: *pnnl_tags_definition
  <<: *pnnl_script_definition
  <<: *pnnl_after_script_definition
  <<: *pnnl-rules

Newell Py Test:
  stage: test
  dependencies:
    - 'Newell Build'
  variables:
    SLURM_Q: "newell_shared"
    MY_CLUSTER: "newell"
    CTESTARGS: "--output-on-failure -R Python"
    OUTPUT_SUFFIX: "_test_python"
    SCRIPT_ARGS: " --test-only --job=gcc-cuda "
    WORKDIR_SUFFIX: "ppc64le-gcc-cuda-build"
  <<: *pnnl_tags_definition
  <<: *pnnl_script_definition
    # No after_script as only one test per platform cleans up
  <<: *pnnl-rules
  allow_failure: true

Marianas Py Test:
  stage: test
  dependencies:
    - 'Marianas Build'
  variables:
    SLURM_Q: "dl_shared"
    MY_CLUSTER: "marianas"
    CTESTARGS: "--output-on-failure -R Python"
    OUTPUT_SUFFIX: "_test_python"
    SCRIPT_ARGS: " --test-only --job=gcc-cuda "
    WORKDIR_SUFFIX: "x86_64-gcc-cuda-build"
  <<: *pnnl_tags_definition
  <<: *pnnl_script_definition
    # No after_script as only one test per platform cleans up
  <<: *pnnl-rules
  allow_failure: true
# ---

