include:
  - remote: 'https://raw.githubusercontent.com/pnnl-miscscripts/gitlab-lib/v1/gitlab-lib.yaml'

# CI constraints for every branch
workflow:
  rules:
      # Only run if source is an open merge request or a branch push
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - if: '$CI_COMMIT_BRANCH'

.pnnl_after_script_template:
  after_script:
    - |
      export WORKDIR="$HOME/gitlab/${CI_PIPELINE_ID}/${MY_CLUSTER}/"
      # Iterate over possible jobid named files (jobid_%J)
      job_ids="$WORKDIR/jobid_*"
      for job in $job_ids
      do
        if [[ -f "$job" ]]; then
          jobid=$(cat "$job")
          scancel $jobid
        fi
      done
      rm -rf $WORKDIR

.pnnl_script_template:
  script:
    - |
      # pass --verbose to build.sh for verbose debugging
      #
      #  NOTES:  WORKDIR is on constance/deception/newell
      #          ./      is only on the Kubernetes instance
      #
      export WORKDIR="$HOME/gitlab/${CI_PIPELINE_ID}/${WORKDIR_SUFFIX}"
      if [[ ! -d "$WORKDIR" ]]; then
        # if workdir already exists, we're in the testing job
        mkdir -p "$WORKDIR"
        cp -r . "$WORKDIR"
      fi

      cd "$WORKDIR"

      if [[ $MY_CLUSTER = "deception" ]]; then
        export SLURM_Q=`perl ./buildsystem/pnnl/findIdleDLNodes.pl`
      else
        export SLURM_Q=`perl ./buildsystem/pnnl/findIdleNewellNodes.pl`
      fi

      # Unique output file for this stage
      output="output${OUTPUT_SUFFIX}"
      [ -f $output ] && rm $output
      touch $output
      tail -f $output &
      tailpid=$!

      # Set some directories used in the build script manually, as they
      # can be inconsistent in gitlab pipelines
      export srcdir=$WORKDIR builddir=$WORKDIR/build installdir=$WORKDIR/install

      # Export CTESTARGS defined in variables to run correct tests for stage
      export CTESTARGS=$CTESTARGS

      # jobid used in pnnl_after_script_template to cancel job if cancelled or
      # timed out by gitlab through the UI
      jobid=$(sbatch --export=ALL -A EXASGD --gres=gpu:1 --ntasks=3 -p $SLURM_Q -o $output -e $output -t 1:00:00 $WORKDIR/buildsystem/build.sh $SCRIPT_ARGS)
      export jobid=$(echo $jobid | cut -f4 -d' ')
      # Unique jobid filename for this job
      echo $jobid > "$WORKDIR/jobid_${jobid}"
      res=1
      while :;
      do
        if [[ "$(awk 'BEGIN{i=0}/BUILD_STATUS/{i++}END{print i}' $output)" != "0" ]]; then
          kill $tailpid
          echo 'Last tail of build $output:'
          tail -n 200 $output
          res=$(grep BUILD_STATUS $output | tail -n 1 | cut -f2 -d':')
          break
        fi
        sleep 10
      done
      echo "Finished batch job with exit code: $res"
      rm "$WORKDIR/jobid_${jobid}"
      exit $res

.pnnl_module_script_template:
  script:
    - |
      set -x

      # Configure git before making changes
      git checkout -b ${CI_MERGE_REQUEST_SOURCE_BRANCH_NAME}

      export WORKDIR="$HOME/gitlab/${CI_PIPELINE_ID}/${WORKDIR_SUFFIX}"

      mkdir -p "$WORKDIR"
      cp -r . "$WORKDIR"

      cd "$WORKDIR"

      # jobid used in pnnl_after_script_template to cancel job if cancelled or
      # timed out by gitlab through the UI
      jobid=$(sbatch $WORKDIR/buildsystem/spack/$MY_CLUSTER/sbatch.sh)
      export jobid=$(echo $jobid | cut -f4 -d ' ')

      # Unique jobid filename for this job
      echo $jobid > "$WORKDIR/jobid_${jobid}"

      # This is hard coded into sbatch script
      outfile=spack_install.$jobid.output

      [ -f $outfile ] && rm $outfile
      touch $outfile

      tail -f $outfile &
      tailpid=$!
 
      res=1
      while :;
      do
        if [[ "$(awk 'BEGIN{i=0}/BUILD_STATUS/{i++}END{print i}' $outfile)" != "0" ]]; then
          kill $tailpid
          echo 'Last tail of build $outfile:'
          tail -n 200 $outfile
          res=$(grep BUILD_STATUS $outfile | tail -n 1 | cut -f2 -d':')
          break
        fi
        sleep 60
      done

      if [ "$res" -ne "0" ]; then
        echo "Finished batch job with exit code: $res"
        rm "$WORKDIR/jobid_${jobid}"
        rm -rf $WORKDIR
        set +x
        # We want to exit early if the spack build didn't succeed.
        exit $res;
      fi
        
      # Modules are in /buildsystem/spack/$MY_CLUSTER/modules
      # Assuming MY_CLUSTER is lower case
      git add ./buildsystem/spack/${MY_CLUSTER}/modules/*

      # Have to configure username to be able to add commits
      git config user.name "spack-auto-module"
      git config user.email "spack.bot@no-reply.com"

      # Add commit to MR branch - message can be changed
      git commit -m "Update ${MY_CLUSTER} spack built modules - CI AUTOMATED MESSAGE."

      # Do a rebase incase another pipeline has pushed since build started
      git pull --rebase origin ${CI_MERGE_REQUEST_SOURCE_BRANCH_NAME}

      # You will have to change this to work for non-merge requests
      git push \
        "https://gitlab-ci-token:${SPACK_GIT_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git" \
        ${CI_MERGE_REQUEST_SOURCE_BRANCH_NAME}

      rm -rf $WORKDIR
      set +x
      exit $res

.pnnl_tags_template:
  # This image allows you to connect to SLURM
  image: kfox1111/slurm:deception2
  tags:
    - k8s
    - ikp
    - exasgd
    - marianas

.pnnl_nonhpc_tags:
  tags:
    - k8s
    - ikp
    - exasgd
    - basic

variables:
  GIT_SUBMODULE_STRATEGY: recursive

.non_hpc_job:
  needs: []
  allow_failure: true
  stage: test
  retry: 2
  extends: .pnnl_nonhpc_tags
  variables:
    GIT_SUBMODULE_STRATEGY: none


.cluster_build:
  needs: []
  stage: build
  retry: 2
  extends:
    - .pnnl_tags_template
    - .pnnl_script_template
  variables:
    OUTPUT_SUFFIX: "_build"
    SCRIPT_ARGS: " --build-only --job=gcc-cuda "

.cluster_test:
  stage: test
  retry: 2
  extends:
    - .pnnl_tags_template
    - .pnnl_script_template
    - .pnnl_after_script_template
  variables:
    # Don't clone for test jobs
    GIT_STRATEGY: none
    SCRIPT_ARGS: " --test-only --job=gcc-cuda "
    CTESTARGS: "--timeout 240 --output-on-failure -E Python"
    OUTPUT_SUFFIX: "_test"

.cluster_py_test:
  stage: test
  retry: 2
  allow_failure: true
  extends:
    - .pnnl_tags_template
    - .pnnl_script_template
      # No after_script as only one test per platform cleans up
  variables:
    # Don't clone for test jobs
    GIT_STRATEGY: none
    SCRIPT_ARGS: " --test-only --job=gcc-cuda "
    CTESTARGS: "--timeout 240 --output-on-failure -R Python"
    OUTPUT_SUFFIX: "_test_python"

.deception:
  variables:
    MY_CLUSTER: "deception"
    WORKDIR_SUFFIX: "x86_64-gcc-cuda-build"

.newell:
  variables:
    WORKDIR_SUFFIX: "ppc64le-gcc-cuda-build"
    MY_CLUSTER: "newell"

.module_rebuild:
  needs: []
  stage: build
  when: manual
  extends:
    - .pnnl_tags_template
    - .pnnl_module_script_template
  allow_failure: true

stages:
  - build
  - test

# -- Pre Stage
SVC Account Cleanup:
  image: ubuntu:20.04
  stage: .pre
  extends: .pnnl_tags_template
  variables:
    # Don't clone for cleanup job
    GIT_STRATEGY: none
  script:
    - export WORKDIR="$HOME/gitlab/"
    # clears directory of files more than 6 hours/360 minutes old
    - find $WORKDIR -type d -mindepth 1 -mmin +360 -prune -print -exec rm -rf {} \; || true
    - ls -hal $WORKDIR

Ascent Push Mirror:
  image: mrnonz/alpine-git-curl:alpine3.16
  stage: .pre
  extends: .pnnl_nonhpc_tags
  variables:
    # Don't need to check out submodules as we aren't using them 
    GIT_SUBMODULE_STRATEGY: none
  script:
    - git --version
    - curl --version
    - git checkout -b ${CI_MERGE_REQUEST_SOURCE_BRANCH_NAME}
    - git config --global credential.username ${ASCENT_PUSH_MIRROR_USER}
    - git config --global core.askPass ./.gitlab/ci/ascent-cred-helper.sh
    - git config --global credential.helper cache
    - git remote add ascent https://code.ornl.gov/ecpcitest/exasgd/exago.git
    - git push --tags --force -o ci.skip --prune ascent ${CI_MERGE_REQUEST_SOURCE_BRANCH_NAME}
    - "curl -X POST --fail -F token=${ASCENT_CI_TRIGGER_TOKEN} -F ref=${CI_MERGE_REQUEST_SOURCE_BRANCH_NAME} https://code.ornl.gov/api/v4/projects/7381/trigger/pipeline"

# -- Build Stage
CMake Lint:
  image: ubuntu:20.04
  extends: .non_hpc_job
  script:
    |
    set -x
    apt update && apt install -y python3 python3-pip perl
    pip install cmake_format
    ./buildsystem/tools/cmake_format.pl -v
    exit $?

C++ Lint:
  image: ubuntu:20.04
  extends: .non_hpc_job
  script:
    |
    set -x
    apt update && apt install -y clang-format perl
    ./buildsystem/tools/clang_format.pl -v
    exit $?

Python Lint:
  image: ubuntu:20.04
  extends: .non_hpc_job
  script:
    |
    set -x
    apt update && apt install -y python3 python3-pip perl
    pip install pycodestyle autopep8
    ./buildsystem/tools/python_format.pl -v
    exit $?

File Naming Conventions:
  image: ubuntu:20.04
  extends: .non_hpc_job
  script:
    |
    set -x
    apt update && apt install -y perl
    ./buildsystem/tools/file_naming_conventions.pl
    exit $?

Newell Build:
  extends:
    - .cluster_build
    - .newell

Deception Build:
  extends:
    - .cluster_build
    - .deception

# -- Test Stage
Newell Test:
  extends:
    - .cluster_test
    - .newell
  needs: ['Newell Build']

Deception Test:
  extends:
    - .cluster_test
    - .deception
  needs: ['Deception Build']

Newell Py Test:
  extends:
    - .cluster_py_test
    - .newell
  needs: ['Newell Build']

Deception Py Test:
  extends:
    - .cluster_py_test
    - .deception
  needs: ['Deception Build']

Deception Module Rebuild:
  extends: .module_rebuild
  variables:
    MY_CLUSTER: "deception"
    WORKDIR_SUFFIX: "spack_deception"

Newell Module Rebuild:
  extends: .module_rebuild
  variables:
    MY_CLUSTER: "newell"
    WORKDIR_SUFFIX: "spack_newell"
# ---
